.footer {
  background-color: #151515;
  height: 420px;
  margin-top: 50px;
}

.footer-content-wrapper {
  padding: 40px;
  justify-content: space-between;
  align-items: center;
}

/* Left Wrapper */

.footer-content-wrapper .left-wrapper,
.footer-content-wrapper {
  display: flex;
}

.footer-content-wrapper .left-wrapper .email-field button,
.footer-content-wrapper .left-wrapper .email-field input {
  border: none;
}

.footer-content-wrapper .left-wrapper {
  flex-direction: column;
  gap: 40px;
}

.footer-content-wrapper .left-wrapper .white-logo {
  width: 40px;
}

.footer-content-wrapper .left-wrapper h1,
.footer-content-wrapper .left-wrapper p,
.footer-content-wrapper .left-wrapper .email-field button {
  color: #fff;
}

.footer-content-wrapper .left-wrapper h1 {
  font-size: 48px;
}

.footer-content-wrapper .left-wrapper .email-field input {
  width: 500px;
  height: 42px;
  padding: 16px;
}

.footer-content-wrapper .left-wrapper .email-field button {
  width: 90px;
  height: 40px;
  background-color: #151515;
  cursor: pointer;
  position: relative;
  right: 16%;
  transition: 0.3s ease-in-out;
}

.footer-content-wrapper .left-wrapper .email-field button:hover {
  opacity: 0.9;
}

.footer-content-wrapper .left-wrapper p {
  font-size: 12px;
}

/* Right Wrapper */

.footer-content-wrapper .right-wrapper,
.footer-content-wrapper .right-wrapper .links,
.footer-content-wrapper .right-wrapper .middle-and-right-links,
.footer-content-wrapper .right-wrapper .middle-links,
.footer-content-wrapper .right-wrapper .right-links,
.footer-content-wrapper .right-wrapper .email-link,
.footer-content-wrapper .right-wrapper .social-icons {
  display: flex;
}

.footer-content-wrapper .right-wrapper,
.footer-content-wrapper .right-wrapper .middle-links,
.footer-content-wrapper .right-wrapper .right-links,
.footer-content-wrapper .right-wrapper .email-link {
  flex-direction: column;
}

.footer-content-wrapper .right-wrapper,
.footer-content-wrapper .right-wrapper .links,
.footer-content-wrapper .right-wrapper .middle-and-right-links {
  gap: 80px;
}

.footer-content-wrapper .right-wrapper .middle-links,
.footer-content-wrapper .right-wrapper .right-links,
.footer-content-wrapper .right-wrapper .email-link {
  gap: 18px;
}

.footer-content-wrapper .right-wrapper .email-link h4,
.footer-content-wrapper .right-wrapper .links p a {
  color: #fff;
}

.footer-content-wrapper .right-wrapper .email-link h4 {
  font-size: 20px;
}

.footer-content-wrapper .right-wrapper .links p a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.footer-content-wrapper .right-wrapper .links p a:hover {
  text-decoration: underline;
}

.footer-content-wrapper .right-wrapper .social-icons {
  justify-content: flex-end;
  gap: 40px;
}

/* Media Queries */

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
  /* Left Wrapper */
  .footer-content-wrapper .left-wrapper h1 {
    font-size: 38px;
  }
  .footer-content-wrapper .left-wrapper .email-field input {
    width: 400px;
  }
  .footer-content-wrapper .left-wrapper .email-field button {
    right: 19%;
    width: 92px;
  }
  /* Right Wrapper */
  .footer-content-wrapper .right-wrapper .links p a {
    font-size: 14px;
  }
  .footer-content-wrapper .right-wrapper .social-icons a img {
    width: 40px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .footer-content-wrapper {
    padding: 40px 0px;
  }
  /* Left Wrapper */
  .footer-content-wrapper .left-wrapper .email-field input {
    width: 380px;
  }
  .footer-content-wrapper .left-wrapper .email-field button {
    right: 20%;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .footer-content-wrapper {
    gap: 40px;
  }
  /* Left Wrapper */
  .footer-content-wrapper .left-wrapper .email-field input {
    width: 240px;
    height: 40px;
  }
  .footer-content-wrapper .left-wrapper .email-field button {
    width: 75px;
    height: 36px;
    right: 24%;
  }
  .footer-content-wrapper .left-wrapper h1 {
    font-size: 20px;
  }
  /* Right Wrapper */
  .footer-content-wrapper .right-wrapper {
    gap: 80px;
  }
  .footer-content-wrapper .right-wrapper .links,
  .footer-content-wrapper .right-wrapper .middle-and-right-links {
    gap: 40px;
  }
  .footer-content-wrapper .right-wrapper .links p a {
    font-size: 12px;
  }
  .footer-content-wrapper .right-wrapper .email-link h4 {
    font-size: 16px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .footer {
    height: 700px;
  }
  .footer-content-wrapper {
    flex-direction: column;
  }
  /* Left Wrapper */
  .footer-content-wrapper .left-wrapper {
    align-items: center;
  }
  .footer-content-wrapper .left-wrapper .email-field input {
    width: 300px;
    position: relative;
    left: 10%;
  }
  .footer-content-wrapper .left-wrapper .email-field button {
    right: 10.8%;
  }
  /* Right Wrapper */
  .footer-content-wrapper .right-wrapper .social-icons {
    justify-content: center;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  .footer {
    height: 780px;
  }
  /* Left Wrapper */
  .footer-content-wrapper .left-wrapper .email-field button {
    right: 14%;
  }
  .footer-content-wrapper .left-wrapper .email-field input {
    width: 220px;
    left: 12%;
  }
  /* Right Wrapper */
  .footer-content-wrapper .right-wrapper .links {
    flex-direction: column;
    align-items: center;
  }
  .footer-content-wrapper .right-wrapper .email-link h4 {
    text-align: center;
  }
  .footer-content-wrapper .right-wrapper .social-icons {
    gap: 20px;
  }
  .footer-content-wrapper .right-wrapper .social-icons a img {
    width: 30px;
  }
}
