@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* .about-us,
.how-it-works,
.pricing,
.faqs {
    margin-bottom: 80px;
} */

body {
  background-color: #e2e2e2;
}

/* Hero */

.hero {
  margin: 20px 0;
}

.hero .hero-left-wrapper h1 {
  font-family: "Roboto", sans-serif;
  font-size: 66px;
}

.hero-wrapper,
.hero-left-wrapper,
.hero-icons {
  display: flex;
}

.hero-wrapper {
  align-items: center;
  justify-content: space-between;
}

.hero-left-wrapper,
.hero-icons {
  gap: 20px;
}

.hero-left-wrapper {
  flex-direction: column;
  justify-content: space-evenly;
}

.hero-form form input,
.hero-form form button {
  padding: 12px;
  border: none;
}

.hero-form form input {
  width: 45.8%;
}

.hero-form form button {
  cursor: pointer;
  background-color: #151515;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

.hero-form form button:hover {
  opacity: 0.8;
}

/* About Us */

.about-us {
  margin-bottom: 20px;
}

.about-us .about-us-right-wrapper h1 {
  font-family: "Roboto", sans-serif;
  font-size: 66px;
}

.about-us-wrapper,
.about-us-right-wrapper,
.about-us-list ul {
  display: flex;
}

.about-us-right-wrapper,
.about-us-list ul {
  flex-direction: column;
}

.about-us-wrapper {
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.about-us-right-wrapper,
.about-us-list ul {
  gap: 20px;
}

.about-us-right-wrapper .about-us-btn {
  text-transform: uppercase;
  width: 120px;
  font-weight: bold;
  padding: 8px 20px;
  cursor: pointer;
}

/* How It Works */
/* Shared Cloud Libraries */
/* Developer Handoff */
/* Real Time Collaborative Editing */

.how-it-works {
  margin-bottom: 20px;
}

.how-it-works-wrapper,
.how-it-works-left-wrapper,
.shared-cloud-libraries-wrapper,
.developer-handoff-wrapper,
.real-time-collaborative-editing-wrapper,
.cloud-api-wrapper,
.shared-cloud-libraries-wrapper .heading-and-description,
.developer-handoff-wrapper .heading-and-description,
.real-time-collaborative-editing-wrapper .heading-and-description,
.cloud-api-wrapper .heading-and-description {
  display: flex;
}

.how-it-works-wrapper,
.shared-cloud-libraries-wrapper,
.developer-handoff-wrapper,
.real-time-collaborative-editing-wrapper,
.cloud-api-wrapper {
  align-items: center;
}

.how-it-works-left-wrapper,
.shared-cloud-libraries-wrapper,
.developer-handoff-wrapper,
.real-time-collaborative-editing-wrapper,
.cloud-api-wrapper {
  gap: 20px;
}

.how-it-works-left-wrapper,
.shared-cloud-libraries-wrapper .heading-and-description,
.developer-handoff-wrapper .heading-and-description,
.real-time-collaborative-editing-wrapper .heading-and-description,
.cloud-api-wrapper .heading-and-description {
  flex-direction: column;
}

.how-it-works-wrapper {
  justify-content: space-evenly;
}

.how-it-works .how-it-works-left-wrapper h1 {
  font-family: "Roboto", sans-serif;
  font-size: 66px;
}

.shared-cloud-libraries-wrapper .heading-and-description,
.developer-handoff-wrapper .heading-and-description,
.real-time-collaborative-editing-wrapper .heading-and-description,
.cloud-api-wrapper .heading-and-description {
  gap: 10px;
}

.how-it-works .how-it-works-btn {
  width: 130px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 10px;
  cursor: pointer;
}

/* Pricing */

.pricing {
  display: flex;
  margin-bottom: 20px;
}

.pricing-wrapper .pricing-btn {
  margin-bottom: 14px;
}

.pricing-wrapper,
.pricing-cards-wrapper,
.pricing-card-amount-and-plan-wrapper,
.pricing-card-wrapper-black-card,
.pricing-card-wrapper,
.pricing-card,
.pricing-card-amount h5,
.pricing-card-list ul {
  display: flex;
}

.pricing-cards-wrapper,
.pricing-card {
  justify-content: space-evenly;
}

.pricing-card,
.pricing-card-list ul {
  flex-direction: column;
}

.pricing-wrapper .pricing-btn,
.pricing-card-btn button,
.pricing-card-wrapper-black-card .pricing-card-btn button {
  cursor: pointer;
}

.pricing-card-wrapper-black-card,
.pricing-card-btn button,
.pricing-card-wrapper-black-card .pricing-card-btn button {
  background-color: #000;
}

.pricing-wrapper {
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 60px;
}

.pricing-wrapper .pricing-right-wrapper h1 {
  font-family: "Roboto", sans-serif;
  font-size: 66px;
}

.pricing-wrapper .pricing-btn {
  width: 120px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 10px;
}

.pricing-wrapper .pricing-right-wrapper p {
  text-align: right;
}

/* Pricing Cards */

.pricing-card-amount-and-plan-wrapper {
  gap: 5px;
}

.pricing-card-wrapper-black-card .pricing-card-amount h5,
.pricing-card-wrapper-black-card .pricing-card-plan,
.pricing-card-wrapper-black-card .pricing-card-description p,
.pricing-card-wrapper-black-card .pricing-card-list ul {
  color: #ffffff;
}

.pricing-card-wrapper-black-card,
.pricing-card-wrapper {
  border: 2px solid #000;
  padding: 50px;
  height: 500px;
}

.pricing-card-btn,
.pricing-card-plan {
  position: relative;
}

.pricing-card-btn {
  top: 60px;
}

.pricing-card-btn button,
.pricing-card-wrapper-black-card .pricing-card-btn button {
  width: 100%;
  padding: 10px 15px;
  border: none;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

.pricing-card-btn button:hover {
  opacity: 0.9;
}

.pricing-card-wrapper-black-card .pricing-card-btn {
  top: 48px;
}

.pricing-card-wrapper.last-card .pricing-card-btn {
  top: 46px;
}

.pricing-card-wrapper-black-card .pricing-card-btn button {
  background-color: #ffffff;
  color: #000;
}

.pricing-card-amount h5 span {
  font-size: 24px;
}

.pricing-card-amount h5 p {
  font-size: 80px;
}

.pricing-card-plan {
  top: 60px;
}

.pricing-card-list ul {
  gap: 12px;
}

/* FAQs */

.faqs {
  margin-top: 50px;
}

.faqs-wrapper,
.faqs-left-wrapper,
.faqs-left-dropdown-descriptions,
.faqs-left-dropdown-description-wrapper,
.faqs-left-dropdown-description-heading-and-icon {
  display: flex;
}

.faqs-left-wrapper,
.faqs-left-dropdown-descriptions,
.faqs-left-dropdown-description-wrapper {
  flex-direction: column;
}

.faqs-left-wrapper,
.faqs-left-dropdown-description-heading-and-icon {
  justify-content: space-between;
}

.faqs-left-btn button,
.faqs-left-dropdown-description-heading-and-icon h3 {
  font-weight: bold;
}

.faqs-wrapper {
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.faqs-left-wrapper {
  gap: 10px;
}

.faqs-left-btn button {
  text-transform: uppercase;
  padding: 8px 20px;
  cursor: pointer;
}

.faqs-left-dropdown-descriptions {
  gap: 16px;
}

.faqs-left-heading h1 {
  font-size: 66px;
  font-family: "Roboto", sans-serif;
}

.faqs-left-dropdown-description-wrapper {
  gap: 24px;
}

.faqs-left-dropdown-description-heading-and-icon {
  align-items: center;
}

.faqs-left-dropdown-description-heading-and-icon h3 {
  font-size: 16px;
}

.faqs-left-dropdown-descriptions hr {
  height: 4px;
  background-color: #000;
}

.faqs-banner img {
  width: 500px;
}

/* Media Queries */

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }

  /* Hero */

  .hero-form form input {
    width: 51%;
  }

  /* Pricing */

  .pricing-wrapper .pricing-right-wrapper h1 {
    font-size: 54px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  /* Hero */

  .hero .hero-left-wrapper h1 {
    font-size: 56px;
  }
  .hero-form form input {
    width: 62%;
  }
  /* About Us */

  .about-us .about-us-right-wrapper h1 {
    font-size: 56px;
  }

  /* How It Works */

  .how-it-works .how-it-works-left-wrapper h1 {
    font-size: 56px;
  }

  /* Pricing */

  .pricing-wrapper {
    gap: 50px;
  }
  .pricing-wrapper .pricing-right-wrapper h1 {
    font-size: 48px;
  }
  .pricing .pricing-wrapper img {
    width: 400px;
  }
  .pricing-cards-wrapper {
    gap: 10px;
  }
  .pricing-card-amount h5 p {
    font-size: 70px;
  }
  .pricing-card-plan {
    top: 50px;
  }
  .pricing-card-wrapper-black-card .pricing-card-btn {
    top: 46px;
  }
  .pricing-card-description p {
    font-size: 14px;
  }
  .pricing-card-list ul li {
    font-size: 14px;
  }

  /* FAQs */

  .faqs-left-heading h1 {
    font-size: 54px;
  }
  .faqs-left-description p,
  .faqs-left-dropdown-description-text p {
    font-size: 14px;
  }
  .faqs-left-dropdown-description-heading-and-icon h3 {
    font-size: 16px;
  }
  .faqs-banner img {
    width: 400px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  /* Hero */

  .hero-left-wrapper {
    gap: 15px;
  }
  .hero .hero-wrapper img {
    width: 400px;
  }
  .hero-left-wrapper .hero-icons img {
    width: 80px;
    height: 46px;
  }
  .hero .hero-left-wrapper h1 {
    font-size: 48px;
  }
  .hero .hero-left-wrapper p {
    font-size: 14px;
  }
  .hero-form form input {
    width: 67%;
  }

  /* About Us */

  .about-us .about-us-wrapper img {
    width: 400px;
  }
  .about-us .about-us-right-wrapper h1 {
    font-size: 48px;
  }
  .about-us .about-us-right-wrapper p {
    font-size: 14px;
  }
  .about-us-list ul li {
    font-size: 14px;
  }

  /* How It Works */

  .how-it-works .how-it-works-wrapper img {
    width: 300px;
  }
  .how-it-works .how-it-works-left-wrapper h1 {
    font-size: 48px;
  }
  .how-it-works-left-wrapper .shared-cloud-libraries-wrapper img,
  .how-it-works-left-wrapper .developer-handoff-wrapper img,
  .how-it-works-left-wrapper .real-time-collaborative-editing-wrapper img,
  .how-it-works-left-wrapper .cloud-api-wrapper img {
    width: 70px;
  }
  .how-it-works-left-wrapper .shared-cloud-libraries-wrapper h4,
  .how-it-works-left-wrapper .developer-handoff-wrapper h4,
  .how-it-works-left-wrapper .real-time-collaborative-editing-wrapper h4,
  .how-it-works-left-wrapper .cloud-api-wrapper h4 {
    font-size: 20px;
  }
  .how-it-works-left-wrapper .shared-cloud-libraries-wrapper p,
  .how-it-works-left-wrapper .developer-handoff-wrapper p,
  .how-it-works-left-wrapper .real-time-collaborative-editing-wrapper p,
  .how-it-works-left-wrapper .cloud-api-wrapper p {
    font-size: 14px;
  }

  /* Pricing */

  .pricing-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .pricing-card {
    align-items: center;
  }
  .pricing-wrapper .pricing-right-wrapper h1 {
    font-size: 48px;
  }
  .pricing-wrapper .pricing-right-wrapper h1 p {
    font-size: 14px;
  }
  .pricing-card {
    width: 300px;
  }
  .pricing-card-btn-wrapper {
    width: 100%;
  }
  .pricing .pricing-wrapper img {
    width: 300px;
  }

  /* Pricing Cards */

  .pricing-card {
    width: 200px;
  }
  .pricing-cards-wrapper {
    gap: 20px;
  }

  /* FAQs */

  .faqs-left-heading h1 {
    font-size: 38px;
  }
  .faqs-left-description p,
  .faqs-left-dropdown-description-text p {
    font-size: 12px;
  }
  .faqs-left-dropdown-description-heading-and-icon h3 {
    font-size: 14px;
  }
  .faqs-banner img {
    width: 320px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  /* Hero */

  .hero .hero-wrapper img {
    width: 300px;
  }
  .hero .hero-left-wrapper h1 {
    font-size: 36px;
  }
  .hero-left-wrapper {
    gap: 10px;
  }
  .hero-form form input {
    width: 60%;
  }
  .hero-form form button {
    padding: 12px 8px;
  }
  .hero .hero-icons img {
    width: 100%;
  }

  /* About Us */

  .about-us .about-us-right-wrapper h1 {
    font-size: 36px;
  }
  .about-us .about-us-wrapper img {
    width: 300px;
  }
  .about-us .about-us-btn {
    width: 100px;
    padding: 6px 10px;
  }

  /* How It Works */

  .how-it-works .how-it-works-left-wrapper h1 {
    font-size: 36px;
  }
  .how-it-works .how-it-works-wrapper img {
    width: 300px;
  }
  .how-it-works .how-it-works-btn {
    width: 120px;
    padding: 6px 5px;
  }
  .how-it-works-left-wrapper .shared-cloud-libraries-wrapper h4,
  .how-it-works-left-wrapper .developer-handoff-wrapper h4,
  .how-it-works-left-wrapper .real-time-collaborative-editing-wrapper h4,
  .how-it-works-left-wrapper .cloud-api-wrapper h4 {
    font-size: 18px;
  }
  .how-it-works-left-wrapper .shared-cloud-libraries-wrapper p,
  .how-it-works-left-wrapper .developer-handoff-wrapper p,
  .how-it-works-left-wrapper .real-time-collaborative-editing-wrapper p,
  .how-it-works-left-wrapper .cloud-api-wrapper p {
    font-size: 14px;
  }
  .how-it-works-left-wrapper .shared-cloud-libraries-wrapper img,
  .how-it-works-left-wrapper .developer-handoff-wrapper img,
  .how-it-works-left-wrapper .real-time-collaborative-editing-wrapper img,
  .how-it-works-left-wrapper .cloud-api-wrapper img {
    width: 70px;
  }

  /* Pricing */

  .pricing-wrapper .pricing-right-wrapper h1 {
    font-size: 36px;
  }
  .pricing .pricing-wrapper img {
    width: 240px;
  }
  .pricing-wrapper .pricing-right-wrapper p {
    font-size: 14px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }

  /* Hero */

  .hero .hero-wrapper img {
    display: none;
  }
  .hero .hero-left-wrapper h1,
  .hero .hero-left-wrapper p {
    text-align: center;
  }
  .hero .hero-left-wrapper h1 {
    font-size: 48px;
  }
  .hero-left-wrapper {
    align-items: center;
    gap: 26px;
  }
  .hero-form form input {
    width: 66%;
  }

  /* About Us */

  .about-us-wrapper {
    flex-direction: column-reverse;
    gap: 50px;
    flex-wrap: wrap;
  }
  .about-us-right-wrapper {
    align-items: center;
  }
  .about-us .about-us-right-wrapper h1,
  .about-us .about-us-right-wrapper p {
    text-align: center;
  }
  .about-us .about-us-right-wrapper h1 {
    font-size: 48px;
  }

  /* How It Works */

  .how-it-works-wrapper {
    flex-wrap: wrap;
    gap: 50px;
  }
  .how-it-works-wrapper .how-it-works-left-wrapper {
    align-items: center;
  }
  .how-it-works-wrapper .how-it-works-left-wrapper h1 {
    font-size: 48px;
    text-align: center;
  }

  /* Pricing */

  .pricing-wrapper {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }
  .pricing-wrapper .pricing-right-wrapper h1 {
    font-size: 48px;
  }
  .pricing-wrapper .pricing-right-wrapper h1,
  .pricing-wrapper .pricing-right-wrapper p {
    text-align: center;
  }
  .pricing-right-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }
  .pricing-card-plan p {
    position: relative;
    bottom: 14px;
  }
  .pricing-card-amount h5 p {
    font-size: 52px;
  }

  /* FAQs */

  .faqs-wrapper {
    flex-wrap: wrap;
    gap: 30px;
  }
  .faqs-banner img {
    width: 300px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }

  /* Hero */
  .hero .hero-left-wrapper h1 {
    font-size: 28px;
  }
  .hero-wrapper {
    justify-content: center;
  }
  .hero-left-wrapper {
    align-items: center;
    gap: 16px;
  }

  /* About Us */

  .about-us .about-us-right-wrapper h1 {
    font-size: 28px;
  }
  .about-us .about-us-btn {
    width: 120px;
    padding: 6px 5px;
  }

  /* How It Works */

  .how-it-works-wrapper .how-it-works-btn {
    width: 120px;
    padding: 6px 5px;
  }
  /* .how-it-works-left-wrapper {
    align-items: center;
  } */
  .how-it-works .how-it-works-left-wrapper h1 {
    font-size: 28px;
  }
  .how-it-works-left-wrapper .shared-cloud-libraries-wrapper h4,
  .how-it-works-left-wrapper .developer-handoff-wrapper h4,
  .how-it-works-left-wrapper .real-time-collaborative-editing-wrapper h4,
  .how-it-works-left-wrapper .cloud-api-wrapper h4 {
    font-size: 16px;
  }
  .how-it-works-left-wrapper .shared-cloud-libraries-wrapper p,
  .how-it-works-left-wrapper .developer-handoff-wrapper p,
  .how-it-works-left-wrapper .real-time-collaborative-editing-wrapper p,
  .how-it-works-left-wrapper .cloud-api-wrapper p {
    font-size: 12px;
  }
  .how-it-works .how-it-works-wrapper img {
    width: 280px;
  }
  .how-it-works-left-wrapper .shared-cloud-libraries-wrapper img,
  .how-it-works-left-wrapper .developer-handoff-wrapper img,
  .how-it-works-left-wrapper .real-time-collaborative-editing-wrapper img,
  .how-it-works-left-wrapper .cloud-api-wrapper img {
    width: 70px;
  }
  /* Pricing */

  .pricing-card {
    width: 160px;
  }
  .pricing-card-amount h5 span {
    font-size: 14px;
  }
  .pricing-card-amount h5 p {
    font-size: 32px;
  }
  .pricing-card-plan p {
    right: 4px;
    bottom: 32px;
  }
  .pricing-wrapper .pricing-right-wrapper h1 {
    font-size: 28px;
  }

  /* FAQs */

  .faqs-left-dropdown-description-heading-and-icon h3 {
    font-size: 12px;
  }
  .faqs-left-wrapper {
    align-items: center;
  }
  .faqs-left-heading {
    text-align: center;
  }
  .faqs-left-heading h1 {
    font-size: 28px;
  }
}
