@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  background-color: #e2e2e2;
}

/* Hero */

.hero {
  margin: 32px 0;
}

.hero .hero-left-wrapper h1 {
  font-family: "Roboto", sans-serif;
  font-size: 66px;
}

.hero-wrapper,
.hero-left-wrapper,
.hero-icons {
  display: flex;
}

.hero-wrapper {
  align-items: center;
  justify-content: space-between;
}

.hero-left-wrapper,
.hero-icons {
  gap: 20px;
}

.hero-left-wrapper {
  flex-direction: column;
  justify-content: space-evenly;
}

.hero-form form input,
.hero-form form button {
  padding: 12px;
  border: none;
}

.hero-form form input {
  width: 45.8%;
}

.hero-form form button {
  cursor: pointer;
  background-color: #151515;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

.hero-form form button:hover {
  opacity: 0.8;
}

/* About Us */

.about-us {
  margin-bottom: 32px;
}

.about-us .about-us-right-wrapper h1 {
  font-family: "Roboto", sans-serif;
  font-size: 66px;
}

.about-us-wrapper,
.about-us-right-wrapper,
.about-us-list ul {
  display: flex;
}

.about-us-right-wrapper,
.about-us-list ul {
  flex-direction: column;
}

.about-us-wrapper {
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.about-us-right-wrapper,
.about-us-list ul {
  gap: 20px;
}

.about-us-right-wrapper .about-us-btn {
  text-transform: uppercase;
  width: 120px;
  font-weight: bold;
  padding: 8px 20px;
  cursor: pointer;
}

/* How It Works */
/* Shared Cloud Libraries */
/* Developer Handoff */
/* Real Time Collaborative Editing */

.how-it-works {
  margin-bottom: 32px;
}

.how-it-works-wrapper,
.how-it-works-left-wrapper,
.shared-cloud-libraries-wrapper,
.developer-handoff-wrapper,
.real-time-collaborative-editing-wrapper,
.cloud-api-wrapper,
.shared-cloud-libraries-wrapper .heading-and-description,
.developer-handoff-wrapper .heading-and-description,
.real-time-collaborative-editing-wrapper .heading-and-description,
.cloud-api-wrapper .heading-and-description {
  display: flex;
}

.how-it-works-wrapper,
.shared-cloud-libraries-wrapper,
.developer-handoff-wrapper,
.real-time-collaborative-editing-wrapper,
.cloud-api-wrapper {
  align-items: center;
}

.how-it-works-left-wrapper,
.shared-cloud-libraries-wrapper,
.developer-handoff-wrapper,
.real-time-collaborative-editing-wrapper,
.cloud-api-wrapper {
  gap: 20px;
}

.how-it-works-left-wrapper,
.shared-cloud-libraries-wrapper .heading-and-description,
.developer-handoff-wrapper .heading-and-description,
.real-time-collaborative-editing-wrapper .heading-and-description,
.cloud-api-wrapper .heading-and-description {
  flex-direction: column;
}

.how-it-works-wrapper {
  justify-content: space-evenly;
}

.how-it-works .how-it-works-left-wrapper h1 {
  font-family: "Roboto", sans-serif;
  font-size: 66px;
}

.shared-cloud-libraries-wrapper .heading-and-description,
.developer-handoff-wrapper .heading-and-description,
.real-time-collaborative-editing-wrapper .heading-and-description,
.cloud-api-wrapper .heading-and-description {
  gap: 10px;
}

.how-it-works .how-it-works-btn {
  width: 130px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 10px;
  cursor: pointer;
}

/* Pricing */

.pricing {
  display: flex;
  margin-bottom: 32px;
}

.pricing-wrapper .pricing-btn {
  margin-bottom: 14px;
}

.pricing-wrapper {
  display: flex;
}

.pricing-wrapper .pricing-btn {
  cursor: pointer;
}

.pricing-wrapper {
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 60px;
}

.pricing-wrapper .pricing-right-wrapper h1 {
  font-family: "Roboto", sans-serif;
  font-size: 66px;
}

.pricing-wrapper .pricing-btn {
  width: 120px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 10px;
}

.pricing-wrapper .pricing-right-wrapper p {
  text-align: right;
}

/* Pricing Cards */

.pricing-cards-wrapper,
.pricing-card,
.pricing-card.black,
.pricing-card .amount-and-plan h5,
.pricing-card.black .amount-and-plan h5 {
  display: flex;
}

.pricing-card .amount-and-plan h5 p,
.pricing-card.black .amount-and-plan h5 p,
.pricing-card.white button,
.pricing-card.white.first-card p,
.pricing-card.white.first-card .amount-and-plan,
.pricing-card.white.first-card .card-list {
  position: relative;
}

.pricing-card.white.first-card p,
.pricing-card.white.first-card .amount-and-plan,
.pricing-card.white.first-card .card-list {
  bottom: 30px;
}

.pricing-card.black .amount-and-plan h5,
.pricing-card.black .amount-and-plan h5 span,
.pricing-card.black .card-list ul li,
.pricing-card.black p,
.pricing-card button {
  color: #fff;
}

.pricing-card.black,
.pricing-card button {
  background-color: #000;
}

.pricing-cards-wrapper {
  justify-content: space-around;
}

.pricing-card,
.pricing-card.black {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: 2px solid black;
  width: 400px;
  height: 500px;
}

.pricing-card .amount-and-plan h5,
.pricing-card.black .amount-and-plan h5 {
  gap: 4px;
}

.pricing-card .amount-and-plan h5 span,
.pricing-card.black .amount-and-plan h5 span {
  font-size: 22px;
}

.pricing-card .amount-and-plan h5 h6,
.pricing-card.black .amount-and-plan h5 h6 {
  font-size: 60px;
}

.pricing-card .amount-and-plan h5 p,
.pricing-card.black .amount-and-plan h5 p {
  top: 40px;
}

.pricing-card .card-list ul li,
.pricing-card.black .card-list ul li {
  margin: 14px;
}

.pricing-card.black button {
  background-color: #fff;
  color: #000;
}

.pricing-card.white button {
  top: 30px;
}

.pricing-card.white.last-card button {
  top: 6px;
}

.pricing-card button,
.pricing-card.black button {
  width: 180px;
  height: 40px;
  cursor: pointer;
  border: none;
  transition: 0.3s ease-in-out;
}

/* FAQs */

.faqs {
  margin-top: 32px;
}

.faqs-wrapper,
.faqs-left-wrapper,
.dropdown-descriptions,
.dropdown-description .heading-and-icon {
  display: flex;
}

.faqs-left-wrapper,
.dropdown-descriptions,
.dropdown-descriptions .dropdown-description {
  flex-direction: column;
}

.faqs-left-wrapper,
.dropdown-description .heading-and-icon {
  justify-content: space-between;
}

.faqs-wrapper .faqs-left-wrapper button,
.dropdown-description .heading-and-icon h3 {
  font-weight: bold;
}

.faqs-wrapper {
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.faqs-left-wrapper {
  gap: 10px;
}

.faqs-wrapper .faqs-left-wrapper button {
  width: 120px;
  text-transform: uppercase;
  padding: 8px 20px;
  cursor: pointer;
}

.dropdown-descriptions {
  gap: 16px;
}

.faqs-wrapper .faqs-left-wrapper h1 {
  font-size: 66px;
  font-family: "Roboto", sans-serif;
}

.dropdown-description .heading-and-icon {
  align-items: center;
}

.dropdown-description .heading-and-icon h3 {
  font-size: 16px;
}

.dropdown-descriptions hr {
  height: 2px;
  background-color: #000;
}

.faqs-wrapper .faqs-banner {
  width: 500px;
}

/* Media Queries */

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }

  /* Hero */

  .hero-form form input {
    width: 51%;
  }

  /* Pricing */

  .pricing-wrapper .pricing-right-wrapper h1 {
    font-size: 54px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  /* Hero */

  .hero .hero-left-wrapper h1 {
    font-size: 56px;
  }
  .hero-form form input {
    width: 62%;
  }
  /* About Us */

  .about-us .about-us-right-wrapper h1 {
    font-size: 56px;
  }

  /* How It Works */

  .how-it-works .how-it-works-left-wrapper h1 {
    font-size: 56px;
  }

  /* Pricing */

  .pricing-wrapper {
    gap: 50px;
  }
  .pricing-wrapper .pricing-right-wrapper h1 {
    font-size: 48px;
  }
  .pricing .pricing-wrapper img {
    width: 400px;
  }

  /* Pricing Cards */

  .pricing-card,
  .pricing-card.black {
    width: 320px;
  }

  /* FAQs */

  .faqs-wrapper .faqs-left-wrapper h1 {
    font-size: 54px;
  }
  .faqs-wrapper .faqs-left-wrapper p,
  .dropdown-description .heading-and-icon p {
    font-size: 14px;
  }
  .dropdown-description .heading-and-icon h3 {
    font-size: 16px;
  }
  .faqs-wrapper .faqs-banner {
    width: 400px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  /* Hero */

  .hero-left-wrapper {
    gap: 15px;
  }
  .hero .hero-wrapper img {
    width: 400px;
  }
  .hero-left-wrapper .hero-icons img {
    width: 80px;
    height: 46px;
  }
  .hero .hero-left-wrapper h1 {
    font-size: 48px;
  }
  .hero .hero-left-wrapper p {
    font-size: 14px;
  }
  .hero-form form input {
    width: 67%;
  }

  /* About Us */

  .about-us .about-us-wrapper img {
    width: 400px;
  }
  .about-us .about-us-right-wrapper h1 {
    font-size: 48px;
  }
  .about-us .about-us-right-wrapper p {
    font-size: 14px;
  }
  .about-us-list ul li {
    font-size: 14px;
  }

  /* How It Works */

  .how-it-works .how-it-works-wrapper img {
    width: 300px;
  }
  .how-it-works .how-it-works-left-wrapper h1 {
    font-size: 48px;
  }
  .how-it-works-left-wrapper .shared-cloud-libraries-wrapper img,
  .how-it-works-left-wrapper .developer-handoff-wrapper img,
  .how-it-works-left-wrapper .real-time-collaborative-editing-wrapper img,
  .how-it-works-left-wrapper .cloud-api-wrapper img {
    width: 70px;
  }
  .how-it-works-left-wrapper .shared-cloud-libraries-wrapper h4,
  .how-it-works-left-wrapper .developer-handoff-wrapper h4,
  .how-it-works-left-wrapper .real-time-collaborative-editing-wrapper h4,
  .how-it-works-left-wrapper .cloud-api-wrapper h4 {
    font-size: 20px;
  }
  .how-it-works-left-wrapper .shared-cloud-libraries-wrapper p,
  .how-it-works-left-wrapper .developer-handoff-wrapper p,
  .how-it-works-left-wrapper .real-time-collaborative-editing-wrapper p,
  .how-it-works-left-wrapper .cloud-api-wrapper p {
    font-size: 14px;
  }

  /* Pricing */

  .pricing-wrapper .pricing-right-wrapper h1 {
    font-size: 48px;
  }
  .pricing-wrapper .pricing-right-wrapper h1 p {
    font-size: 14px;
  }
  .pricing .pricing-wrapper img {
    width: 300px;
  }

  /* Pricing Cards */

  .pricing-card,
  .pricing-card.black {
    width: 240px;
    height: 600px;
    padding: 14px;
  }
  .pricing-card.white.first-card p,
  .pricing-card.black p,
  .pricing-card.white.last-card p {
    font-size: 14px;
  }
  .pricing-card.black button,
  .pricing-card.white.first-card p,
  .pricing-card.white.first-card .amount-and-plan,
  .pricing-card.white.first-card .card-list {
    position: relative;
  }
  .pricing-card.white.first-card p,
  .pricing-card.white.first-card .amount-and-plan,
  .pricing-card.white.first-card .card-list {
    bottom: 50px;
  }
  .pricing-card .amount-and-plan h5 h6,
  .pricing-card.black .amount-and-plan h5 h6 {
    font-size: 38px;
  }
  .pricing-card .amount-and-plan h5 p,
  .pricing-card.black .amount-and-plan h5 p {
    font-size: 12px;
    top: 26px;
  }
  .pricing-card.white.first-card button {
    top: 54px;
  }
  .pricing-card.black button {
    top: 8px;
  }
  .pricing-card.white.last-card button {
    top: 0px;
  }

  /* FAQs */

  .faqs-wrapper .faqs-left-wrapper h1 {
    font-size: 38px;
  }
  .faqs-wrapper .faqs-left-wrapper p,
  .dropdown-description .heading-and-icon p {
    font-size: 12px;
  }
  .dropdown-description .heading-and-icon h3 {
    font-size: 14px;
  }
  .faqs-wrapper .faqs-banner {
    width: 320px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  /* Hero */

  .hero .hero-wrapper img {
    width: 300px;
  }
  .hero .hero-left-wrapper h1 {
    font-size: 36px;
  }
  .hero-left-wrapper {
    gap: 10px;
  }
  .hero-form form input {
    width: 60%;
  }
  .hero-form form button {
    padding: 12px 8px;
  }
  .hero .hero-icons img {
    width: 100%;
  }

  /* About Us */

  .about-us .about-us-right-wrapper h1 {
    font-size: 36px;
  }
  .about-us .about-us-wrapper img {
    width: 300px;
  }
  .about-us .about-us-btn {
    width: 100px;
    padding: 6px 10px;
  }

  /* How It Works */

  .how-it-works .how-it-works-left-wrapper h1 {
    font-size: 36px;
  }
  .how-it-works .how-it-works-wrapper img {
    width: 300px;
  }
  .how-it-works .how-it-works-btn {
    width: 120px;
    padding: 6px 5px;
  }
  .how-it-works-left-wrapper .shared-cloud-libraries-wrapper h4,
  .how-it-works-left-wrapper .developer-handoff-wrapper h4,
  .how-it-works-left-wrapper .real-time-collaborative-editing-wrapper h4,
  .how-it-works-left-wrapper .cloud-api-wrapper h4 {
    font-size: 18px;
  }
  .how-it-works-left-wrapper .shared-cloud-libraries-wrapper p,
  .how-it-works-left-wrapper .developer-handoff-wrapper p,
  .how-it-works-left-wrapper .real-time-collaborative-editing-wrapper p,
  .how-it-works-left-wrapper .cloud-api-wrapper p {
    font-size: 14px;
  }
  .how-it-works-left-wrapper .shared-cloud-libraries-wrapper img,
  .how-it-works-left-wrapper .developer-handoff-wrapper img,
  .how-it-works-left-wrapper .real-time-collaborative-editing-wrapper img,
  .how-it-works-left-wrapper .cloud-api-wrapper img {
    width: 70px;
  }

  /* Pricing */

  .pricing-wrapper .pricing-right-wrapper h1 {
    font-size: 36px;
  }
  .pricing .pricing-wrapper img {
    width: 240px;
  }
  .pricing-wrapper .pricing-right-wrapper p {
    font-size: 14px;
  }

  /* Pricing Cards */

  .pricing-cards-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .pricing-card,
  .pricing-card.black {
    width: 340px;
    height: 500px;
  }
  .pricing-card.white.first-card p,
  .pricing-card.black p,
  .pricing-card.white.last-card p,
  .pricing-card .amount-and-plan h5 p,
  .pricing-card.black .amount-and-plan h5 p {
    font-size: 16px;
  }
  .pricing-card .amount-and-plan h5 h6,
  .pricing-card.black .amount-and-plan h5 h6 {
    font-size: 48px;
  }
  .pricing-card .amount-and-plan h5 p,
  .pricing-card.black .amount-and-plan h5 p {
    top: 26px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }

  /* Hero */

  .hero .hero-wrapper img {
    display: none;
  }
  .hero .hero-left-wrapper h1,
  .hero .hero-left-wrapper p {
    text-align: center;
  }
  .hero .hero-left-wrapper h1 {
    font-size: 48px;
  }
  .hero-left-wrapper {
    align-items: center;
    gap: 26px;
  }
  .hero-form form input {
    width: 66%;
  }

  /* About Us */

  .about-us-wrapper {
    flex-direction: column-reverse;
    gap: 50px;
    flex-wrap: wrap;
  }
  .about-us-right-wrapper {
    align-items: center;
  }
  .about-us .about-us-right-wrapper h1,
  .about-us .about-us-right-wrapper p {
    text-align: center;
  }
  .about-us .about-us-right-wrapper h1 {
    font-size: 48px;
  }

  /* How It Works */

  .how-it-works-wrapper {
    flex-wrap: wrap;
    gap: 50px;
  }
  .how-it-works-wrapper .how-it-works-left-wrapper {
    align-items: center;
  }
  .how-it-works-wrapper .how-it-works-left-wrapper h1 {
    font-size: 48px;
    text-align: center;
  }

  /* Pricing */

  .pricing-wrapper {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }
  .pricing-wrapper .pricing-right-wrapper h1 {
    font-size: 48px;
  }
  .pricing-wrapper .pricing-right-wrapper h1,
  .pricing-wrapper .pricing-right-wrapper p {
    text-align: center;
  }
  .pricing-right-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }

  /* FAQs */

  .faqs-wrapper {
    flex-wrap: wrap;
    gap: 30px;
  }
  .faqs-wrapper .faqs-banner {
    width: 300px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }

  /* Hero */
  .hero .hero-left-wrapper h1 {
    font-size: 28px;
  }
  .hero-wrapper {
    justify-content: center;
  }
  .hero-left-wrapper {
    align-items: center;
    gap: 16px;
  }

  /* About Us */

  .about-us .about-us-right-wrapper h1 {
    font-size: 28px;
  }
  .about-us .about-us-btn {
    width: 120px;
    padding: 6px 5px;
  }

  /* How It Works */

  .how-it-works-wrapper .how-it-works-btn {
    width: 120px;
    padding: 6px 5px;
  }
  .how-it-works .how-it-works-left-wrapper h1 {
    font-size: 28px;
  }
  .how-it-works-left-wrapper .shared-cloud-libraries-wrapper h4,
  .how-it-works-left-wrapper .developer-handoff-wrapper h4,
  .how-it-works-left-wrapper .real-time-collaborative-editing-wrapper h4,
  .how-it-works-left-wrapper .cloud-api-wrapper h4 {
    font-size: 16px;
  }
  .how-it-works-left-wrapper .shared-cloud-libraries-wrapper p,
  .how-it-works-left-wrapper .developer-handoff-wrapper p,
  .how-it-works-left-wrapper .real-time-collaborative-editing-wrapper p,
  .how-it-works-left-wrapper .cloud-api-wrapper p {
    font-size: 12px;
  }
  .how-it-works .how-it-works-wrapper img {
    width: 280px;
  }
  .how-it-works-left-wrapper .shared-cloud-libraries-wrapper img,
  .how-it-works-left-wrapper .developer-handoff-wrapper img,
  .how-it-works-left-wrapper .real-time-collaborative-editing-wrapper img,
  .how-it-works-left-wrapper .cloud-api-wrapper img {
    width: 70px;
  }
  /* Pricing */

  .pricing-wrapper .pricing-right-wrapper h1 {
    font-size: 28px;
  }

  /* Pricing Cards */

  .pricing-card,
  .pricing-card.black {
    width: 300px;
    height: 500px;
  }

  /* FAQs */

  .dropdown-description .heading-and-icon h3 {
    font-size: 12px;
  }
  .faqs-left-wrapper {
    align-items: center;
  }
  .faqs-wrapper .faqs-left-wrapper p:nth-child(3) {
    text-align: center;
  }
  .faqs-wrapper .faqs-left-wrapper h1 {
    font-size: 28px;
  }
}
